<div id="header">
  <div id="content">
    <a href="/ideas">Ideas</a>
    <a href="/ideas/<%= idea.id %>"><%= idea.id %></a>
    <a href="#">Edit</a>
  </div>
</div>

<form action="/ideas/<%= idea.id %>/edit" method="POST">
  <label for="title">Title</label>
  <input type='text' id="title" name="title" value="<%= idea.title %>"/><br/>
  <label for="description">Description</label>
  <textarea id="description" name="description"><%= idea.description %></textarea><br/>
  <input type="hidden" name="_method" value="PUT">
  <input type='submit' value='Save'/>
</form>