<div id="header">
  <div id="content">
    <a href="#">Ideas</a>
  </div>
</div>

<span class="actions">
  <span class="action_small">
    <a href="/ideas/new">Create an idea</a>
  </span>
</span>

<br />
<br />
<br />

<table class="vertical">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Likes</th>
    <th>Actions</th>
  </tr>
  <% ideas.each do |idea| %>
    <tr id="idea_<%= idea.id %>">
      <td class="id">#<%= idea.id %></td>
      <td class="title"><%= idea.title %></td>
      <td class="description"><%= idea.description %></td>
      <td class="likes"><%= idea.rank %></td>
      <td class="actions">
        <%= erb :actions, locals: { idea: idea } %>
      </td>
    </tr>
<% end %>
</table>
